<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Default" connectionString="Data Source=C:\Users\rkh\OneDrive - Hexagon\Documents\GitHub\Semesterprojekt\ContactManager\Person.db; Version = 3; New = True; Compress = True;" providerName="System.Data.SQLite"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>